.checkbox {
  cursor: pointer;

  display: flex;
  align-items: center;

  margin-bottom: 8px;

  font-size: 16px;
}

.checkbox input {
  cursor: pointer;
  position: absolute;
  opacity: 0;
}

.checkmark {
  position: relative;

  width: 24px;
  height: 24px;

  border: 2px solid #333;
  border-radius: 4px;
}

.checkbox input:checked ~ .checkmark {
  background-color: #333;
}

.checkbox input:focus ~ .checkmark {
  box-shadow: 0 0 3px #333;
}

.checkbox input:hover:not(:checked) ~ .checkmark {
  background-color: #f2f2f2;
}

.checkbox.disabled {
  pointer-events: none;
  opacity: 0.6;
}
