.primary {
  cursor: pointer;

  padding: 6px 28px;

  font-family: Roboto, sans-serif;
  font-weight: 700;
  color: var(--color-light-100);

  background-color: var(--color-accent-500);
  border: none;
  border-radius: 4px;

  &:active {
    background-color: var(--color-accent-700);
  }

  &:hover {
    background-color: var(--color-accent-300);
  }

  &:focus {
    background-color: var(--color-accent-500);
    border: 2px solid var(--color-info-700);
  }

  &:disabled {
    cursor: auto;
    color: var(--color-light-900);
    background-color: var(--color-accent-900);
  }
}

.secondary {
  cursor: pointer;

  padding: 6px 28px;

  font-family: Roboto, sans-serif;
  font-weight: 700;

  background-color: var(--color-dark-300);
  border: none;
  border-radius: 4px;

  &:active {
    background-color: var(--color-dark-500);
  }

  &:hover {
    background-color: var(--color-dark-100);
  }

  &:focus {
    background-color: var(--color-dark-300);
    border: 2px solid var(--color-info-700);
  }

  &:disabled {
    cursor: auto;
    color: var(--color-light-900);
    background-color: var(--color-dark-300);
  }
}

.tertiary {
  cursor: pointer;

  padding: 8px 28px;

  font-family: Roboto, sans-serif;
  font-weight: 700;
  color: var(--color-accent-500);

  background-color: transparent;
  border: 1px solid var(--color-accent-500);
  border-radius: 4px;

  &:active {
    background-color: var(--color-accent-900);
  }

  &:hover {
    background-color: var(--color-accent-700);
  }

  &:focus {
    background-color: transparent;
    border: 2px solid var(--color-info-700);
  }

  &:disabled {
    cursor: auto;
    color: var(--color-accent-900);
    background-color: transparent;
    border: 2px solid var(--color-accent-900);
  }
}

.link {
  cursor: pointer;

  padding: 6px 20px;

  font-family: Roboto, sans-serif;
  font-weight: 700;
  color: var(--color-accent-500);

  background-color: transparent;
  border: none;
  border-radius: 20px;

  &:active {
    background-color: var(--color-accent-700);
  }

  &:hover {
    color: var(--color-accent-300);
    background-color: transparent;
  }

  &:focus {
    background-color: transparent;
    border: 2px solid var(--color-info-700);
  }

  &:disabled {
    cursor: auto;

    color: var(--color-accent-900);

    background-color: transparent;
    border: none;
    border-radius: 50%;
  }
}

.fullWidth {
  width: 100%;
}
