.signUpWrapper {
  display: flex;
  flex-direction: column;
  width: 424px;
  padding: 32px 36px 25px;

  .typo {
    text-align: center;
  }

  .title {
    margin-bottom: 26px;
    text-align: center;
  }

  .email {
    margin-bottom: 24px;
  }

  .password {
    margin-bottom: 12px;
  }

  &:nth-child(2) {
    display: none;
  }

  .fieldBottom {
    margin-bottom: 66px;
  }

  .question {
    margin-top: 20px;
    text-align: center;
  }

  .signUp {
    text-align: center;
    text-decoration: underline;

    & p {
      color: var(--color-accent-500);
    }
  }

  .submit {
    padding: 6px 0;
  }
}
