.forgotPasswordWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 420px;
  padding: 32px 36px 25px;

  .typo {
    margin-bottom: 51px;
  }
}

.field {
  margin-bottom: 19px;
}

.instructions {
  margin-bottom: 65px;
  color: var(--color-light-900);
  opacity: 0.5;
}

.submit {
  padding: 6px 0;
}

.didYou {
  margin-top: 20px;
  margin-bottom: 11px;
  color: var(--color-light-900);
}

.tryLog {
  text-decoration: underline;
}
